## Univariate model for deployment

This notebook develops the datasets, persistance model functions, and univariate LSTM model used in V1 of the energy-dashboard.

In [37]:
import pandas as pd
import tensorflow as tf
from entsoe import EntsoePandasClient
import os
pd.set_option('min_rows', 100)

In [3]:
#download training dataset
train_path = '~/github-repos/energy-dashboard/data/training'

train_start = '20150101'
train_end = '20181231'

client = EntsoePandasClient(api_key='909addb7-e4ae-4702-acc7-6b4f4fd9667b')
train = client.query_load("ES", 
                         start=pd.Timestamp(f"{train_start}T0000", tz='UTC'), 
                         end=pd.Timestamp(f"{train_end}T2300", tz='UTC'))

train.to_csv(os.path.join(train_path, 'training-2015-2018.csv'))

In [10]:
print(len(train))
print(train.head())
print(train.tail())
train.describe()

35032
2015-01-01 01:00:00+01:00    24382.0
2015-01-01 02:00:00+01:00    22734.0
2015-01-01 03:00:00+01:00    21286.0
2015-01-01 04:00:00+01:00    20264.0
2015-01-01 05:00:00+01:00    19905.0
dtype: float64
2018-12-31 19:00:00+01:00    30653.0
2018-12-31 20:00:00+01:00    29735.0
2018-12-31 21:00:00+01:00    28071.0
2018-12-31 22:00:00+01:00    25801.0
2018-12-31 23:00:00+01:00    24455.0
dtype: float64

count    35032.000000
mean     28696.974252
std       4575.226062
min      18041.000000
25%      24807.000000
50%      28901.500000
75%      32192.000000
max      41015.000000
dtype: float64

In [11]:
train.isnull().sum()

0

In [12]:
#download the testing dataset
test_path = '~/github-repos/energy-dashboard/data/test'

test_start = '20150101'
test_end = '20181231'

client = EntsoePandasClient(api_key='909addb7-e4ae-4702-acc7-6b4f4fd9667b')
test = client.query_load("ES", 
                         start=pd.Timestamp(f"{train_start}T0000", tz='UTC'), 
                         end=pd.Timestamp(f"{train_end}T2300", tz='UTC'))

test.to_csv(os.path.join(test_path, 'test-2019.csv'))

### Persistance 3 day MA

In [38]:
def persistance_day_ma(series, num_days):
    
    window=24*num_days
    rolling_mean = series.rolling(window=window, min_periods=24, closed='right').mean()
    
    return rolling_mean[-24:]
    
persist_3_day = persistance_day_ma(train, 3)

In [39]:
persist_3_day

2018-12-31 00:00:00+01:00    26834.541667
2018-12-31 01:00:00+01:00    26821.652778
2018-12-31 02:00:00+01:00    26808.763889
2018-12-31 03:00:00+01:00    26794.263889
2018-12-31 04:00:00+01:00    26778.625000
2018-12-31 05:00:00+01:00    26760.902778
2018-12-31 06:00:00+01:00    26734.958333
2018-12-31 07:00:00+01:00    26693.930556
2018-12-31 08:00:00+01:00    26644.805556
2018-12-31 09:00:00+01:00    26596.458333
2018-12-31 10:00:00+01:00    26552.333333
2018-12-31 11:00:00+01:00    26504.458333
2018-12-31 12:00:00+01:00    26453.388889
2018-12-31 13:00:00+01:00    26400.375000
2018-12-31 14:00:00+01:00    26354.263889
2018-12-31 15:00:00+01:00    26308.819444
2018-12-31 16:00:00+01:00    26260.402778
2018-12-31 17:00:00+01:00    26209.152778
2018-12-31 18:00:00+01:00    26172.263889
2018-12-31 19:00:00+01:00    26143.444444
2018-12-31 20:00:00+01:00    26103.069444
2018-12-31 21:00:00+01:00    26046.347222
2018-12-31 22:00:00+01:00    25982.083333
2018-12-31 23:00:00+01:00    25932.638889
dtype: float64

### Persitance 3 days hour by hour

In [41]:
series = train[-72:]

In [57]:
days = series.index.day.unique()
hours = series.index.hour[:24]
pd.DataFrame(series.values.reshape((3,24)), index=days, columns=hours)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
29,25709.0,23622.0,22122.0,21368.0,21084.0,21168.0,21927.0,23347.0,24931.0,27300.0,...,28811.0,27815.0,27044.0,27317.0,29535.0,30271.0,30819.0,30718.0,29352.0,27332.0
30,24922.0,22772.0,21301.0,20386.0,20103.0,20112.0,20651.0,21639.0,22662.0,24759.0,...,27264.0,26002.0,25313.0,25552.0,28072.0,29221.0,30042.0,30229.0,29145.0,26934.0
31,24312.0,22140.0,20851.0,20200.0,20006.0,20366.0,21723.0,23850.0,25969.0,28382.0,...,27988.0,27009.0,26449.0,26738.0,29592.0,30653.0,29735.0,28071.0,25801.0,24455.0

In [ ]:
def persistance_MA_hourly(series, days):